*.*
*
!*/
!/picorv32/bench/**
!/picorv32/ip/**
!/picorv32/pnr/ipcore/**
!/picorv32/pnr/source/*
!/picorv32/pnr/*.pds
!/picorv32/pnr/*.hex
!/picorv32/simulation/file_list.f
!/picorv32/simulation/ram.hex
!/picorv32/simulation/sim.bat
!/picorv32/simulation/sim.tcl
!/picorv32/simulation/wave.do
!/picorv32/simulation/file_list.f
!/picorv32/software/**
!/picorv32/src/**

!/dds/bench/**
!/dds/ip/**
!/dds/pnr/ipcore/**
!/dds/pnr/source/*
!/dds/pnr/*.pds
!/dds/src/**