*.*
*
!*/

!/dds/bench/**
!/dds/dat/**
!/dds/pnr/ipcore/**
!/dds/pnr/source/*
!/dds/pnr/*.pds
!/dds/src/**

!/slave_board/pnr/ipcore/**
!/slave_board/pnr/source/*
!/slave_board/pnr/*.pds
!/slave_board/src/**

!/dso/bench/**
!/dso/dat/**
!/dso/pnr/ipcore/**
!/dso/pnr/source/*
!/dso/pnr/*.pds
!/dso/src/**


!/dso_lite/bench/**
!/dso_lite/dat/**
!/dso_lite/pnr/ipcore/**
!/dso_lite/pnr/source/*
!/dso_lite/pnr/*.pds
!/dso_lite/src/**

!/la/bench/**
!/la/dat/**
!/la/pnr/ipcore/**
!/la/pnr/source/*
!/la/pnr/*.pds
!/la/src/**

!/sparrow_soc/pnr/ipcore/**
!/sparrow_soc/pnr/source/*
!/sparrow_soc/pnr/*.pds
!/sparrow_soc/src/**

!/doc/**
