*.*
*
!*/
!/picorv32/bench/**
!/picorv32/ip/**
!/picorv32/pnr/ipcore/**
!/picorv32/pnr/source/*
!/picorv32/pnr/*.pds
!/picorv32/pnr/*.hex
!/picorv32/simulation/file_list.f
!/picorv32/simulation/ram.hex
!/picorv32/simulation/sim.bat
!/picorv32/simulation/sim.tcl
!/picorv32/simulation/wave.do
!/picorv32/simulation/file_list.f
!/picorv32/software/**
!/picorv32/src/**

!/dds/bench/**
!/dds/dat/**
!/dds/ip/**
!/dds/pnr/ipcore/**
!/dds/pnr/source/*
!/dds/pnr/*.pds
!/dds/src/**

!/dso/bench/**
!/dso/dat/**
!/dso/ip/**
!/dso/pnr/ipcore/**
!/dso/pnr/source/*
!/dso/pnr/*.pds
!/dso/src/**

!/lite/README.md

!/lite/dso/bench/**
!/lite/dso/dat/**
!/lite/dso/ip/**
!/lite/dso/pnr/ipcore/**
!/lite/dso/pnr/source/*
!/lite/dso/pnr/*.pds
!/lite/dso/src/**